@{
    ViewBag.Title = UT.SL.Model.Resource.App_Common.Report;
}
<div class="row">
    <div class="col-md-12 feedDiv " style="padding:10px; direction:rtl;">
        <div>
            <p class="greenParag">
                تستهای سنجش انگیزه سعی می کنند به یادگیرنده در شناخت خودش کمک کنند. تحلیل نتایج این پرسشنامه در اولین فرصت انجام شده و به اطلاع شما خواهد رسید. جهت اطلاع شما رویکردهای مختلف انگیزشی توضیحاتی در ذیل ذکر شده است.
            </p>
            <br />
            @if (ViewBag.CountStat == 1 || ViewBag.CountStat == 2 || ViewBag.CountStat == 3 || ViewBag.CountStat == 4)
            {
                <div class="explainWithBorder">
                    <p class="">
                        <span class="blueParag">رویکرد رفتاری:</span>
                        در این رویکرد انگیزش را وابسته به کسب تقویت و اجتناب از تنبیه می دانند که از اندیشه رفتارگرایان ناشی شده است. در این رویکرد انگیزانه هایی نظیر نمره جایزه تشویق کلامی منبع انگیزشی یادگیرندگان هستند.
                    </p>
                    <p class="">
                        <span class="blueParag">رویکرد شناختی:</span>
                        در این رویکرد اندیشه های فرد سرچشمه انگیزش او هستند. شناخت گرایان معتقدند هدفها نقشه ها و انتطارات و نسبت دادنهای فرد باعث ایجاد رفتارها هستند و لذا انگیزش درونی بیشتر از انگیزه بیرونی مورد تاکید آنهاست. انگیزش شایستگی Competence Motivation  نیز مشابه همین نظریه است و تاکید دارد که افراد برای برخورد موثر با محیط خود دارای انگیزه درونی هستند.
                    </p>
                </div>
            }
            @if (ViewBag.CountStat == 2 || ViewBag.CountStat == 3 || ViewBag.CountStat == 4)
            {
                <div class="explainWithBorder">
                    <p class="">
                        <span class="blueParag">ررویکرد انسان گرایی:</span>
                        انسانگرایان معتقدند برای ایجاد انگیزش به جای تاکید بر تقویت و تنبیه باید احساس شایستگی خودمختاری و عزت نفس را در افراد افزایش داد.
                    </p>
                    <p class="">
                        <span class="blueParag">انگیزش و نیاز:</span>
                        انسان هم نیازهای اساسی دارد  نظیر نیازهای جسمانی امنیت عشق و عزت نفس هم نیازهای خودشکوفایی که می کوشد تواناییها و استعدادهای خود را کشف کند و آرمانهایش را تحقق ببخشد.
                    </p>
                    <p class="">
                        <span class="blueParag">رویکرد اجتماعی ـ فرهنگی:</span>
                        در این رویکرد منبع انگیزشی برای افراد داشتن رابطه دوستانه با دیگران است که با مفهوم نیاز پیوندجویی ارتباط نزدیک دارد. یادگیرندگان دارای نیاز پیوندجویی سطح پایین ترجیح می دهند تنها کار کنند درحالیکه یادگیرندگان دارای نیاز پیوندجویی سطح بالا کار در گروههای کوچک را ترجیح می دهند.
                    </p>
                </div>
            }
            @if (ViewBag.CountStat == 3 || ViewBag.CountStat == 4)
            {
                <div class="explainWithBorder">
                    <p class="">
                        <span class="blueParag">رویکرد انتظار ضربدر ارزش:</span>
                        مقدار زمان و کوششی که افراد صرف یک کار می کنند بسته به اینست که تا چه حد آنرا با موفقیت انجام می دهند ضربدر ارزشی که برای انجام آن کار قائلند. این همان مفهوم خودکارآمدی است.
                    </p>
                    <p class="">
                        <span class="blueParag">نظریه انگیزه پیشرفت:</span>
                        افراد دارای انگیزش پیشرفت سطح بالا برای حل مشکلات و رسیدن به موفقیت بسیار کوشا هستند و کسب موفقیت در تکالیف چالش برانگیز برای این افراد مهم و افتخارآمیز است. در مقابل افراد دارای انگیزه اجتناب از شکست برای دوری گزیدن از شرمساری یا تحقیر وابسته به شکست تلاش می کنند و موقعیتهایی را ترجیح می دهند که نتیجه کار از قبل معلوم است و از تکالیف چالش برانگیز و موقعیتهای نامعلوم اجتناب می کنند. گروه اول اگر شکست بخورند دوچندان تلاش می کنند اما گروه دوم دست از تلاش می کشند.
                    </p>
                </div>
            }
        </div>
    </div>
</div>