@if (ViewBag.Count != null)
{
    <div class="" title="@UT.SL.Model.Resource.App_Common.Discussion" data-hideafterclick="true">
        <span class="label label-default" style="padding:3px"> @ViewBag.Count @string.Format(UT.SL.Model.Resource.App_Common.NewThing, string.Empty) <span class="glyphicon glyphicon-comment makeWhite"></span>&nbsp;</span>
    </div>
}
else
{
    <span></span>
}