<div class="assignmentIconPost" data-show="postAssignmentTemplate" data-hide="postTemplate" data-toggleclass="mainPortal" data-showit="true">
    <div>
        <span class="glyphicon glyphicon-pencil"></span>
    </div>
    @UT.SL.Model.Resource.App_Common.Assignment
</div>