@using UT.SL.Helper
@using UT.SL.Security
@model UT.SL.Data.LINQ.Assignment
<div class="paleIt" style="display: inline-block; margin-left: 2px; margin-right: 2px">
    @Ajax.AuthorizationActionLinkBootstrap(User.Identity.Name, Model.Id, (int)UT.SL.Model.Enumeration.ObjectType.Assignment, "glyphicon glyphicon-list", UT.SL.Model.Resource.App_Common.ViewAllSubmissions, "ViewAllSubmissions", "Assignment", new { area = "admin", Id = Model.Id },
                   new AjaxOptions()
                   {
                       HttpMethod = "GET",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "SubmissionFooter" + (int)UT.SL.Model.Enumeration.ObjectType.Assignment + Model.Id,
                       //OnSuccess = "$('#NewSubmissionViewFooter" + (int)UT.SL.Model.Enumeration.ObjectType.Assignment + Model.Id + "').show('blind', 1000);",
                       OnSuccess = "showHideSubmissionPart(" + Model.Id + ")",
                       LoadingElementId = "loadingAjax"
                   }, new { @class = "addsubmission" }, Model.AssignmentSubmissions.Count().ToString())
    @if (ViewBag.submissionsCount == 0)
    {
        if(Model.GetLockedAfterExpiration.HasValue && 
            Model.GetLockedAfterExpiration.Value && 
            Model.DueDate!=null && 
            Model.DueDate<DateTime.Now)
        {
             @Ajax.AuthorizationActionLinkBootstrap(User.Identity.Name, Model.Id, (int)UT.SL.Model.Enumeration.ObjectType.Assignment, "glyphicon glyphicon-plus", UT.SL.Model.Resource.App_Common.Submit , "OverDuedAssignment", "Assignment", new { area = "admin", Id = Model.Id },
                   new AjaxOptions()
                   {
                       HttpMethod = "GET",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "NewSubmissionViewFooter" + (int)UT.SL.Model.Enumeration.ObjectType.Assignment + Model.Id,
                       OnSuccess = "$('#NewSubmissionViewFooter" + (int)UT.SL.Model.Enumeration.ObjectType.Assignment + Model.Id + "').show('blind', 1000);",
                       LoadingElementId = "loadingAjax"
                   }, new { @class = "addsubmission" }, null)
        }
        else
        {
              @Ajax.AuthorizationActionLinkBootstrap(User.Identity.Name, Model.Id, (int)UT.SL.Model.Enumeration.ObjectType.Assignment, "glyphicon glyphicon-plus", UT.SL.Model.Resource.App_Common.Submit , "PostSubmission", "AssignmentSubmission", new { area = "admin", Id = Model.Id },
                   new AjaxOptions()
                   {
                       HttpMethod = "GET",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "NewSubmissionViewFooter" + (int)UT.SL.Model.Enumeration.ObjectType.Assignment + Model.Id,
                       OnSuccess = "$('#NewSubmissionViewFooter" + (int)UT.SL.Model.Enumeration.ObjectType.Assignment + Model.Id + "').show('blind', 1000);",
                       LoadingElementId = "loadingAjax"
                   }, new { @class = "addsubmission" }, null)
        }
      
    }
    else
    {
        @Ajax.AuthorizationActionLinkBootstrap(User.Identity.Name, Model.Id, (int)UT.SL.Model.Enumeration.ObjectType.Assignment, "glyphicon glyphicon-eye-open", UT.SL.Model.Resource.App_Common.ViewSubmission , "ViewSubmission", "AssignmentSubmission", new { area = "admin", Id = Model.Id },
                   new AjaxOptions()
                   {
                       HttpMethod = "GET",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "SubmissionFooter" + (int)UT.SL.Model.Enumeration.ObjectType.Assignment + Model.Id,
                       //OnSuccess = "$('#NewSubmissionViewFooter" + (int)UT.SL.Model.Enumeration.ObjectType.Assignment + Model.Id + "').show('blind', 1000);",
                       OnSuccess = "showHideSubmissionPart(" + Model.Id + ")",
                       LoadingElementId = "loadingAjax"
                   }, new { @class = "addsubmission" }, null)
    }

</div>
