<div class="forumIconPost" data-show="postForumTemplate" data-hide="postTemplate" data-toggleclass="mainPortal" data-showit="true">
    <div>
        <span class="glyphicon glyphicon-comment"></span>
    </div>
    @UT.SL.Model.Resource.App_Common.Forum
</div>