@model List<UT.SL.Data.LINQ.GroupMember>
@{
    int cnt = 1;
    int skipper = 0;
}
<div>
    @for (int i = 0; i < Model.Count() / 5 + 1; i++)
    {
        <div class="row">
            <div class="col-md-12">
                @foreach (var item in Model.Skip(skipper * 5).Take(5))
                {                          
                    @Html.Action("GetUserPic", "App_User", new { area = "admin", Id = item.UserId, type = (int)UT.SL.Model.Enumeration.ImageSizeType.Small, draggable = true })
                    cnt++;
                }
            </div>
        </div>
                skipper++;
    }
</div>
