@using UT.SL.Helper
@using UT.SL.Security
@model List<UT.SL.Data.LINQ.MessageThread>
<div class="container-fluid">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div data-singlethread="thread@(item.GuidId)">
                @Html.Partial("ThreadView", item)                
            </div>            
        }
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <div class="messageDiv centerOne boldAndLarger" style="margin-top:5px;">
                    <span>
                        @UT.SL.Model.Resource.App_Common.NoMessages
                    </span>
                </div>
            </div>
        </div>
    }
</div>