body {
    background-color: #e5e5e5;
}

.feedDiv {
    background-color: #f5f5f5;
}

.userPicComment {
    border: 2px solid white;
}

.userPicGetPanel {
    border: 2px solid white;
}

.textNotCompact {
    white-space: pre-line;
}

.panel {
    /*background-color: #7BA4C6 !important;*/
    background-color: rgb(248, 248, 248); /* Fall-back for browsers that don't support rgba */
    background-color: rgba(248, 248, 248, .5);
}

panel, .panel-default {
    border-color: #F8F8F8 !important;
}


    .panel-default > .panel-heading {
        background-color: rgb(248, 248, 248); /* Fall-back for browsers that don't support rgba */
        background-color: rgba(248, 248, 248, .5);
        border-color: #F8F8F8 !important;
        border-width: 0px !important;
    }

