@model UT.SL.Data.LINQ.ForumDiscussion
<a href="javascript:void(0);" title="@UT.SL.Model.Resource.App_Common.Reply" data-discussionid="@(Model.Id)" class="view paleIt viewDiscussionPostForm reply"><span class="glyphicon glyphicon-share-alt"> </span> @Model.ForumDiscussionPosts.Count</a>
