@using UT.SL.Helper
@using UT.SL.Security
@model UT.SL.Model.ObjectModel
<div id="comment@(Model.Type)@(Model.ObjectId)"  class="comment@(Model.Type)@(Model.ObjectId)" style="display:inline-block;margin-left:3px; margin-right:3px">
    @if (ViewBag.Forum == null)
    {
        @Ajax.ImageActionLinkBootstrapForComment("glyphicon glyphicon-share-alt", UT.SL.Model.Resource.App_Common.Comment, "Comment", "Comment", new { area = "admin", objectId = Model.ObjectId, type = Model.Type },
                   new AjaxOptions()
                   {
                       HttpMethod = "GET",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "commentDialog",
                       OnSuccess = " $('#commentDialog').dialog('open');",
                       LoadingElementId = "loadingAjax"
                   }, new { @class = "comment" }, Model.Count.ToString(), Model.Type, Model.ObjectId)
    }
    else
    {
        @Ajax.ImageActionLinkBootstrap("glyphicon glyphicon-share-alt", UT.SL.Model.Resource.App_Common.SendReply, "Comment", "Comment", new { area = "admin", objectId = Model.ObjectId, type = Model.Type },
                   new AjaxOptions()
                   {
                       HttpMethod = "GET",
                       InsertionMode = InsertionMode.InsertBefore,
                       UpdateTargetId = "postRepliesdiv",
                       LoadingElementId = "loadingAjax"
                   }, new { @class = "comment" }, null)
    }
</div>
