<div class="row">
    <div class="col-md-12">
        <div class="boldAndLarger">
            کاربر گرامی، خطای ناشناخته‌ای در پايگاه بوجود آمده است،
            لطفا با مسوولين پايگاه تماس حاصل فرماييد.

        </div>
    </div>
</div>