@{
    @*Layout = null;
        }

        <!DOCTYPE html>
        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>Error</title>
        </head>
        <body>
            <h2>
                Sorry, an error occurred while processing your request.
                fgdfhljlj
                dfgdfshgfhgfhgfhsfhsgh
                Sorry, an error occurred while processing your request.
                fgdfhljlj
                dfgdfshgfhgfhgfhsfhsgh
                Sorry, an error occurred while processing your request.
                fgdfhljlj
                dfgdfshgfhgfhgfhsfhsgh
                Sorry, an error occurred while processing your request.
                fgdfhljlj
                dfgdfshgfhgfhgfhsfhsgh
                Sorry, an error occurred while processing your request.
                fgdfhljlj
                dfgdfshgfhgfhgfhsfhsgh
                Sorry, an error occurred while processing your request.
                fgdfhljlj
                dfgdfshgfhgfhgfhsfhsgh
            </h2>
        </body>
        </html>*@
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />

        <title>Unexpected Error!</title>

        <style>
            body {
                direction: rtl;
                text-align: justify;
                font-size: 10pt;
                font-family: Tahoma;
            }

            div {
                margin: 10px;
                padding: 10px;
                border: thin outset;
                color: blue;
                background-color: khaki;
            }
        </style>
    </head>
    <body>
        <div>
            کاربر گرامی، خطای ناشناخته‌ای در پايگاه بوجود آمده است،
            لطفا با مسوولين پايگاه تماس حاصل فرماييد.
            <br />
        </div>
    </body>
</html>
