<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UT.SL.Data.LINQ.Properties.Settings.SocialLearningConnectionString"
            connectionString="Data Source=192.168.8.1,1433;Initial Catalog=SocialLearning;User ID=p.nasirifard;Password=master"
            providerName="System.Data.SqlClient" />
        <add name="UT.SL.Data.LINQ.Properties.Settings.SocialLearningConnectionString1"
            connectionString="Data Source=WINDOWS-913EOWK;Initial Catalog=SocialLearning;User ID=p.nasirifard;Password=master"
            providerName="System.Data.SqlClient" />
        <add name="UT.SL.Data.LINQ.Properties.Settings.SocialLearningConnectionString2"
            connectionString="Data Source=192.168.8.1;Initial Catalog=SocialLearning;Persist Security Info=True;User ID=p.nasirifard;Password=master"
            providerName="System.Data.SqlClient" />
        <add name="UT.SL.Data.LINQ.Properties.Settings.SocialLearningConnectionString3"
            connectionString="Data Source=WINDOWS-913EOWK;Initial Catalog=SocialLearning;Persist Security Info=True;User ID=p.nasirifard;Password=master"
            providerName="System.Data.SqlClient" />
        <add name="UT.SL.Data.LINQ.Properties.Settings.u643_SLRNConnectionString"
            connectionString="Data Source=panel1.rackset.com\SQL2K8R2,14833;Initial Catalog=u643_SLRN;User ID=u643_admin;Password=MasterAdmin%2012"
            providerName="System.Data.SqlClient" />
        <add name="UT.SL.Data.LINQ.Properties.Settings.SocialLearningConnectionString4"
            connectionString="Data Source=OROOJI-PC;Initial Catalog=SocialLearning;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UT.SL.Data.LINQ.Properties.Settings.SocialLearningConnectionString5"
            connectionString="Data Source=192.168.8.1,1433;Initial Catalog=SocialLearning;Persist Security Info=True;User ID=p.nasirifard;Password=master"
            providerName="System.Data.SqlClient" />
        <add name="UT.SL.Data.LINQ.Properties.Settings.SocialLearningConnectionString6"
            connectionString="Data Source=EPEZHMAN-PC\SQLEXPRESS;Initial Catalog=SocialLearning;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
